.home-dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
}

.home-dashboard__workspace {
  position: relative;
  width: 100%;
  display: flex;
}
